@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "PT Sans", sans-serif;
}

:root {
  --toastify-toast-background: #343434;
  --toastify-color-progress-success: #c586c0;
  --toastify-text-color-dark: #969696;
}
