@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  @apply bg-dark-600;
  @apply text-dark-200;
}

* {
  font-family: "PT Sans", sans-serif;
}
