.custom-select__input-container{
  color: #cccccc !important;
}
.custom-select__single-value{
  color: #cccccc !important;
}
.custom-select {

  &__control {
    background-color: #252526 !important;
    border-radius: 0 !important;
    border: 1px solid #3c3c3c !important;
    box-shadow: none !important;
    width: 12rem;
    height: 2.5rem !important;
    padding: 3px;


    &--menu-is-open {
      border-color: #3c3c3c !important;
    }
  }

  &__value-container {
    padding: 0 !important;
    cursor: text !important;
  }

  &__input-container {
  text-align: center !important;
  }

  &__indicator-separator {
    display: none !important;
  }

  &__indicators {
    cursor: pointer !important;
  }

  &__indicator {
    color: #cccccc !important;

    &:hover {
      color: #cccccc !important;
    }
  }

  &__multi-value {
    background-color: rgba(#999aa5, 0.6) !important;
    border-radius: 0.5rem !important;
  }

  &__multi-value__label {
    font-size: 80% !important;
    color: rgba(white, 0.7) !important;
  }

  &__multi-value__remove {
    color: rgba(white, 0.8) !important;

    &:hover {
      background-color: transparent !important;
      color: white !important;
    }
  }

  &__menu {
    background-color: #292a2e !important;
    animation: scaleIn 0.35s ease-in-out;
    border-radius: 0;
    margin: 0;
    padding: 0;
    border: 1px solid #3c3c3c;
  }

  &__option {
    cursor: pointer !important;
    color: #3c3c3c;
    &--is-focused {
      background-color: lighten(#292a2e, 8%) !important;
    }
  }

  &-container {
    > div {
      outline: none !important;
      box-shadow: none !important;
    }

    &:hover,
    &--menu-is-open {
      border-color: #ced4da !important;
    }
  }
}
