@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.custom-select {
  &__control {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #66676e !important;
    box-shadow: none !important;

    &--menu-is-open {
      border-color: #ce9178 !important;
    }
  }

  &__value-container {
    padding: 0 !important;
    cursor: text !important;
  }

  &__input-container {
    color: #999aa5 !important;
  }

  &__indicator-separator {
    display: none !important;
  }

  &__indicators {
    cursor: pointer !important;
  }

  &__indicator {
    color: #66676e !important;

    &:hover {
      color: #999aa5 !important;
    }
  }

  &__multi-value {
    background-color: rgba(#999aa5, 0.6) !important;
    border-radius: 0.5rem !important;
  }

  &__multi-value__label {
    font-size: 80% !important;
    color: rgba(white, 0.7) !important;
  }

  &__multi-value__remove {
    color: rgba(white, 0.8) !important;

    &:hover {
      background-color: transparent !important;
      color: white !important;
    }
  }

  &__menu {
    background-color: #292a2e !important;
    color: rgba(white, 0.6) !important;
    animation: scaleIn 0.35s ease-in-out;
    border-radius: 0;
    margin: 0;
  }

  &__option {
    cursor: pointer !important;
    &--is-focused {
      background-color: lighten(#292a2e, 8%) !important;
    }
  }

  &-container {
    > div {
      outline: none !important;
      box-shadow: none !important;
    }

    &:hover,
    &--menu-is-open {
      border-color: #ced4da !important;
    }
  }
}
