.DS_STORE
.idea

node_modules
package-lock.json
yarn.lock
mprocs.log

.eslintcache
.parcel-cache
.docs
lerna-debug.log
yarn-error.log
.turbo

.env

# mud test data
test-data/world-logs-bulk-*.json
test-data/world-logs-query.json

# mud artifacts
.mud

# sqlite indexer data
*.db
*.db-journal