.wanderer{
  @apply border border-dark-400 w-72 h-auto p-8 flex flex-col
  justify-between items-center bg-dark-500 transform delay-500
}
.wanderer__container {
  @apply flex flex-wrap gap-x-4 gap-y-4 mt-2 justify-around
}
.wanderer__parent{
  @apply flex justify-around
}
.wanderer__description{
  @apply text-dark-300
}

.header{
  @apply m-10 text-2xl font-bold text-dark-comment
}