.parent{
  @apply flex items-center h-full overflow-auto
  flex-col bg-auto bg-gradient-to-br from-black via-cyan-900 to-black
}

.nav{
  @apply w-screen h-screen
}

.navLinkClassActive{
  @apply transition duration-700 underline decoration-dark-keyword
}

.navLinkClass{
  @apply transition duration-700 text-dark-300
}

.nav__container{
  @apply flex flex-row flex-wrap items-center justify-around h-16 font-medium mb-8
}

.nav__list{
  @apply flex flex-wrap items-center justify-around w-1/2
}

.modal__item{
  @apply p-1 w-3/4 cursor-pointer m-2 border
  bg-cyan-800 ease-in hover:bg-cyan-600
  text-gray-100 text-lg border border-cyan-700
}